#container{
	border: 2px solid grey;
	width: 400px;
	background: #e8f8f8;
	margin: 100px auto;
	box-shadow: 0 0 3px rgba(0,0,0,0.4);
}
h1{
	background-color: #2980b7;
	color: white;
	margin: 0;
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: normal;
}

.fa-plus{
	float: right;
}
ul{
	list-style: none;
	margin: 0;
	padding: 0;

}

body{
	font-family: 'Roboto', sans-serif;
	background: #F1F2B5;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #135058, #F1F2B5);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #135058, #F1F2B5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


li{
	background: #fff; 
	height: 50px;
	line-height: 50px;
	color: #666;

}
li:nth-child(2n){
	background: #e8f8f8;
}

.done{
	color: gray;
	text-decoration: line-through;
}

input{
	font-size: 18px;
	color: #2980b9;
	background-color: #e8f8f8;
	width: 100%;
	padding: 13px 13px 13px 20px;
	box-sizing: border-box;
	border: 3px solid rgba(0,0,0,0);

}

input:focus{
	background-color: #fff;
	border: 3px solid #2980b9;
	outline: none;
}
span{
	background: #e74c3c;
	height: 50px;
	margin-right: 20px;
	text-align: center;
	color: white;
	width: 0px;
	transition: 0.4s linear;
	display: inline-block;
	opacity: 0;
}
li:hover span{
	width:40px;
	opacity: 2.0;
}